torch
transformers
datasets
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
jupyter
nltk
spacy
tensorboard
tensorflow
keras-preprocessing
gradio
huggingface-hub
joblib
imbalanced-learn
optuna
tabulate
ipywidgets
accelerate
pyarrow
sentencepiece
pillow