torch
transformers
scikit-learn
pandas
numpy
matplotlib
seaborn
tqdm
jupyter
notebook
nltk
spacy
tensorboard
datasets
tensorflow
gradio
keras_preprocessing
huggingface_hub
joblib
pickle-mixin
imbalanced-learn